# Systemd services configuration
# Set expert: true for services that should only be visible in expert mode

# Configuration file locations
file_locations:
  config_dir: "/boot/firmware"  # Default location for radiotracking.ini and schedule.yml

# System settings
system:
  status_refresh_interval: 5  # Default system status refresh interval in seconds

# Shell settings
shell:
  user: "pi"  # User to run shell sessions as (login shell)

services:
  - name: multi-user.target
    expert: true
  - name: radiotracking
    expert: false 
  - name: soundscapepipe
    expert: false
  - name: time-sync.target
    expert: true
  - name: tsschedule
    expert: false
  - name: chrony
    expert: true
  - name: mqttutil
    expert: true 
  - name: mosquitto
    expert: true
  - name: tsupdated
    expert: true
  - name: tsconfig
    expert: true
  - name: tsconfig-ble
    expert: true
  - name: bluetooth
    expert: true
  - name: ssh
    expert: true
  - name: wg-quick@wireguard
    expert: true
  - name: NetworkManager
    expert: true
  - name: ModemManager
    expert: true
