<!-- Footer -->
<footer class="footer mt-3 bg-light">
    <div class="container py-3">
        <div class="row align-items-center h-100">
            <div class="col-sm py-2">
                <span>tsconfig {{ version }} © trackIT Systems</span>
            </div>
            <div class="col-sm py-2">
            </div>
            <div class="col-sm py-2">
            </div>
            <div class="col-sm py-2 text-end">
                <a href="https://trackit.systems" target="_blank"><i class="fa fa-globe lead" title="Website"></i></a>
                <a href="mailto:info@trackit.systems" alt="send mail"><i class="fa fa-envelope lead" title="E-Mail"></i></a>
            </div>
        </div>
    </div>
</footer> 