<!DOCTYPE html>
<html lang="en" class="h-100" x-data="configManager()" x-init="init()">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title x-text="`tsconfig | ${hostname}`">tsconfig | Loading...</title>
    
    <!-- Common CSS -->
    <link href="{{ url_for('static', path='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='vendor/leaflet/css/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='vendor/leaflet-locate/css/L.Control.Locate.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='vendor/fontawesome/css/all.min.css') }}">
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
    
    <!-- Common JS -->
    <script src="{{ url_for('static', path='vendor/leaflet/js/leaflet.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/leaflet-locate/js/L.Control.Locate.min.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='vendor/alpinejs/js/cdn.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/app.js') }}"></script>
    
    {% block extra_head %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
    {% include 'partials/navbar.html' %}
    
    <main>
        <div class="container mt-4">
            {% include 'partials/alerts.html' %}
            {% block content %}{% endblock %}
        </div>
    </main>
    
    {% include 'partials/footer.html' %}
    {% include 'partials/log_modal.html' %}
    {% include 'partials/shell_modal.html' %}
    
    {% block extra_body %}{% endblock %}
</body>
</html> 