{% extends "base.html" %}

{% block content %}
<div>
    <!-- Status Section -->
    <div x-show="activeConfig === 'status'" x-cloak>
        {% include 'status.html' %}
    </div>

    <!-- Schedule Section -->
    <div x-show="activeConfig === 'schedule'" x-cloak>
        {% include 'schedule.html' %}
    </div>

    <!-- Radio Tracking Section -->
    <div x-show="activeConfig === 'radiotracking'" x-cloak>
        {% include 'radiotracking.html' %}
    </div>

    <!-- Soundscapepipe Section -->
    <div x-show="activeConfig === 'soundscapepipe'" x-cloak>
        {% include 'soundscapepipe.html' %}
    </div>
</div>
{% endblock %} 